In [26]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [27]:
df = pd.DataFrame

In [28]:
#importar dados
dataset = pd.read_csv("limpezadados.csv", sep=",")
#visualizar
dataset.head()

,ID,Nome,Idade,E-mail,Cidade,Data_Cadastro,Valor_Compra,Status
0,1,Ana Silva,29.0,ana.silva@email.com,S達o Paulo,2024-01-10,250.75,ativo
1,2,Bruno Souza,35.0,bruno@email.com,Rio de Janeiro,2023-11-22,0.00,Inativo
2,3,Carla Lima,NaN,carla@email.com,Belo Horizonte,2024-03-05,150.00,Ativo
3,4,Diego Martins,42.0,NaN,S達o Paulo,2022-07-19,430.50,ativo
4,5,Elisa Rocha,23.0,elisa@email.com,Porto Alegre,2025-01-01,0.00,inativo

In [29]:
#tamanho 
dataset.shape

(7, 8)

In [ ]:
#explorar dados categorias 
#estado
agrupado = dataset.groupby(['Status']).size()
agrupado

KeyError: 'status'