In [9]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [10]:
#importar dados
dataset = pd.read_csv("limpezadados.csv", sep=",")
#visualizar
dataset.head

<bound method NDFrame.head of    ID           Nome  Idade               E-mail          Cidade  \
0   1     Ana Silva    29.0  ana.silva@email.com       São Paulo
1   2    Bruno Souza   35.0      bruno@email.com  Rio de Janeiro
2   3     Carla Lima    NaN      carla@email.com  Belo Horizonte
3   4  Diego Martins   42.0                  NaN       São Paulo
4   5    Elisa Rocha   23.0      elisa@email.com    Porto Alegre
5   6   Felipe Alves   31.0     felipe@email.com             NaN
6   7  Gabriela Mota   27.0   gabriela@email.com          Recife

  Data_Cadastro  Valor_Compra   Status
0    2024-01-10        250.75    ativo
1    2023-11-22          0.00  Inativo
2    2024-03-05        150.00    Ativo
3    2022-07-19        430.50    ativo
4    2025-01-01          0.00  inativo
5    2024-08-17        280.20    ATIVO
6    2023-09-10           NaN    Ativo  >

In [11]:
#tamanho 
dataset.shape

(7, 8)

In [ ]:
#primeiro problema pe dar nomes as colunas
dataset.columns = []